<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body>
    
    <%- include('../partials/header')  %> 
    
    <main>
        <div class="producto-completo">       
        <div class="lado-izquierdo">
            <figure class="imgprincipal">
                <img src="/img/uploads/zapatilla1.png" alt="principal" class="productselect">
            </figure>
        </div>
        <div class="lado-derecho">
            <div class="marca-principal">
            <h3>NIKE</h3>
            </div>
            <div class="modelo-principal">
            <h2>AIR FORCE 1</h2>
            </div>
            <div class="precio">
                <p>$844</p>
            </div>

            <div class="container">
	
                <h3 class="color">COLOR</h3>
          
            <ul class="lista-opciones">
                <li class="boton-estilo">
                    <label class="option">Blancas</label> 
                    <input type="radio" id="selector" name="selector">                             
                </li>
          
                <li class="boton-estilo"> 
                    <label class="option">Rojas</label>
                    <input type="radio" id="selector" name="selector">                                
                </li>
          
                <li class="boton-estilo">
                    <label class="option">Negras</label>  
                    <input type="radio" id="selector" name="selector">                        
                </li>
                <li class="boton-estilo">
                    <label class="option">Camufladas</label>
                    <input type="radio" id="selector" name="selector">                                          
                </li>
            </ul>
            </div>

            <div class="titulo-informacion">
                <h3>INFORMACION</h3>
            </div>
            <div class="informacion">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, eveniet perspiciatis totam labore, minima enim perferendis temporibus sunt adipisci minus animi dolore facilis reprehenderit. Laudantium quisquam corrupti impedit inventore commodi! 
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Aperiam, eveniet perspiciatis totam labore</li>
                    <li>minima enim perferendis temporibus sunt</li>
                </ul>
            </div>
            <div class="botones-de-compra">
                <button type="button" class="btn1">AGREGAR AL CARRITO</button>
                <button type="button" class="btn2">COMPRAR YA</button>     
            </div>
        </div>
        </div>   
    
    <section class="products">
        <div class="title" id="tittle-productdetail">
            <h2>Productos Similares</h2>
        </div>
        <div class="products-top-row">

            <article>
                    <a class="link" href="detail">
                    <figure class="product-img">
                        <img src="/img/uploads/zapatilla5.png" alt="">
                    </figure>
                    <h3>adidas performance</h3>
                    <p>$520</p>
                    <a href="detail" class="comprar">comprar</a>
                </article>
        
            
                <article>
                    <a class="link" href="detail">
                    <figure class="product-img">
                        <img src="/img/uploads/zapatilla2.png" alt="">
                    </figure>
                    <h3>adidas Originals 11</h3>
                    <p>$450</p>
                    <a href="detail" class="comprar">comprar</a>
                </article>
        

                <article>
                    <a class="link" href="detail">
                    <figure class="product-img">
                        <img src="/img/uploads/zapatilla3.png" alt="">
                    </figure>
                    <h3>Nike LeBron 18</h3>
                    <p>$930</p>
                    <a href="detail" class="comprar">comprar</a>
                </article>
        

                <article>
                    <a class="link" href="detail">
                    <figure class="product-img">
                        <img src="/img/uploads/zapatilla4.png" alt="">
                    </figure>
                    <h3>Nike Air Max 97</h3>
                    <p>$1580</p>
                    <a href="detail" class="comprar">comprar</a>
                </article>
        
        </div>
    </section>
    </main>

    <%- include('../partials/footer')  %> 

</body>
</html>
