<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body>
    
    <%- include('../partials/header')  %> 

    <main>
        <section class="products">
            <div style="margin-bottom: 3em;" class="title">
                <h2>Todos los productos</h2>
            </div>
            <div class="products-top-row">

                <article>
                        <a class="link" href="products/detail">
                        <figure class="product-img">
                            <img src="/img/uploads/zapatilla1.png" alt="">
                        </figure>
                        <h3>nike air force 1</h3>
                        <p>$520</p>
                        <a href="products/detail" class="comprar">comprar</a>
                    </article>
            
                
                    <article>
                        <a class="link" href="products/detail">
                        <figure class="product-img">
                            <img src="/img/uploads/zapatilla2.png" alt="">
                        </figure>
                        <h3>adidas Originals 11</h3>
                        <p>$450</p>
                        <a href="products/detail" class="comprar">comprar</a>
                    </article>
            

                    <article>
                        <a class="link" href="products/detail">
                        <figure class="product-img">
                            <img src="/img/uploads/zapatilla3.png" alt="">
                        </figure>
                        <h3>Nike LeBron 18</h3>
                        <p>$930</p>
                        <a href="products/detail" class="comprar">comprar</a>
                    </article>
            

                    <article>
                        <a class="link" href="products/detail">
                        <figure class="product-img">
                            <img src="/img/uploads/zapatilla4.png" alt="">
                        </figure>
                        <h3>Nike Air Max 97</h3>
                        <p>$1580</p>
                        <a href="products/detail" class="comprar">comprar</a>
                    </article>
            
            </div>

            <div class="products-bottom-row">
                <article>
                        <a class="link" href="products/detail">
                        <figure class="product-img">
                            <img src="/img/uploads/zapatilla5.png" alt="">
                        </figure>
                        <h3>adidas Performance</h3>
                        <p>$320</p>
                        <a href="products/detail" class="comprar">comprar</a>
                    </article>
                

                    <article>
                        <a class="link" href="products/detail">
                        <figure class="product-img">
                            <img src="/img/uploads/zapatilla6.png" alt="">
                        </figure>
                        <h3>adidas Ultra Boost 20</h3>
                        <p>$720</p>
                        <a href="products/detail" class="comprar">comprar</a>
                    </article>
                

                    <article>
                        <a class="link" href="products/detail">
                        <figure id="imagen-rota" class="product-img">
                            <img src="/img/uploads/zapatilla7.png" alt="">
                        </figure>
                        <h3>Nike Air Max 97 essential</h3>
                        <p>$580</p>
                        <a href="products/detail" class="comprar">comprar</a>
                    </article>
                

                    <article>
                        <a class="link" href="products/detail">
                        <figure class="product-img">
                            <img src="/img/uploads/zapatilla8.png" alt="">
                        </figure>
                        <h3>Nike Air More Uptempo</h3>
                        <p>$960</p>
                        <a href="products/detail" class="comprar">comprar</a>
                    </article>
                

            </div>
        </section>
    </main>

    <%- include('../partials/footer')  %> 

</body>
</html>
