<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body>
    
    <%- include('../partials/header')  %> 

    <main>
        <div class="titulo-carrito">
            <h2 >MI CARRITO</h2>
            <p>$ 3000</p>
        </div>
        <div class="desktop-carrito">
        <div class="total-productos">
            <div class="carrito-producto">
                    <div class="media-flex" id="flex-izquierda">
                        <figure class="carrito-img">
                            <img src="/img/zapatilla2.png" alt="" id="carrito-img">
                        </figure>
                    </div>
                    <div class="media-flex" id="flex-derecha">
                        <h3>Adidas Originals 11</h3>
                        <p>Naranja</p>
                        <div class="fila" id="fila-1">
                            <p class="titualar">TALLA</p>
                            <p class="descript-titular">40 Hombre</p>
                        </div>
                        <div class="fila"> 
                            <p class="titualar">CANTIDAD</p>
                            <p class="descript-titular">1</p>
                        </div>
                        <div class="fila" id="fila-3">
                            <p class="titualar">PRECIO</p>
                            <p class="descript-titular">$ 1000</p>
                        </div>
                        <div class="accesos">
                            <a class="link" href="">Eliminar</a>
                            <a class="link" href="">Editar</a>
                            <a class="link" href="">Guardar</a>
                        </div>
                    </div>
            </div>

            <div class="carrito-producto">
                <div class="media-flex" id="flex-izquierda">
                    <figure class="carrito-img">
                        <img src="/img/zapatilla6.png" alt="" id="carrito-img">
                    </figure>
                </div>
                <div class="media-flex" id="flex-derecha">
                    <h3>Adidas Ultra Boost 20</h3>
                    <p>Verde neon</p>
                    <div class="fila" id="fila-1">
                        <p class="titualar">TALLA</p>
                        <p class="descript-titular">42 Mujer</p>
                    </div>
                    <div class="fila"> 
                        <p class="titualar">CANTIDAD</p>
                        <p class="descript-titular">1</p>
                    </div>
                    <div class="fila" id="fila-3">
                        <p class="titualar">PRECIO</p>
                        <p class="descript-titular">$ 800</p>
                    </div>
                    <div class="accesos">
                        <a class="link" href="">Eliminar</a>
                        <a class="link" href="">Editar</a>
                        <a class="link" href="">Guardar</a>
                    </div>
                </div>
        </div>

        <div class="carrito-producto">
            <div class="media-flex" id="flex-izquierda">
                <figure class="carrito-img">
                    <img src="/img/zapatilla8.png" alt="" id="carrito-img">
                </figure>
            </div>
            <div class="media-flex" id="flex-derecha">
                <h3>Nike Air More Uptempo</h3>
                <p>Negro</p>
                <div class="fila" id="fila-1">
                    <p class="titualar">TALLA</p>
                    <p class="descript-titular">42 Hombre</p>
                </div>
                <div class="fila"> 
                    <p class="titualar">CANTIDAD</p>
                    <p class="descript-titular">1</p>
                </div>
                <div class="fila" id="fila-3">
                    <p class="titualar">PRECIO</p>
                    <p class="descript-titular">$ 1200</p>
                </div>
                <div class="accesos">
                    <a class="link" href="">Eliminar</a>
                    <a class="link" href="">Editar</a>
                    <a class="link" href="">Guardar</a>
                </div>
            </div>
    </div>
    </div>
    <div class="completar-pago">
        <div    class="seccion-titulo">
            <h3>Resumen del pedido</h3>
        </div>
        <div class="seccion">
            <div class="fila-superior" id="seccion-superior">
                <p>SUBTOTAL:</p>
                <p>$ 3000,00</p>
            </div>
                <p  class='sub-fila'>3 articulos</p>
        </div>
        <div class="seccion">
            <div class="fila-superior">
                <p>ENVÍO:</p>
                <p>$ 0,00</p>
            </div>
                <p  class='sub-fila'>3-5 Días laborales (3 artículos)</p>
        </div>
        <div class="seccion">
            <div class="fila-superior">
                <p>DESCUENTOS:</p>
                <p>$ 0,00</p>
            </div>
                <p  class='sub-fila'><a href="">Añadir Código Promocional</a></p>
        </div>
        <div class="seccion">
            <div class="fila-superior">
                <p>TOTAL DEL PEDIDO:</p>
                <p>$ 3000,00</p>
            </div>
                <p  class='sub-fila' id="ultima-sub-fila">IVA incluído</p>
        </div>
        <div class="botones-de-compra">
            <button type="button" class="btn1">INICIAR SESION</button>
            <button type="button" class="btn2">PAGAR COMO INVITADO</button>     
        </div>
    </div>
</div>  
<section class="products">
    <div class="title" id="tittle-productdetail">
        <h2>Productos Similares</h2>
    </div>
    <div class="products-top-row">

        <article>
                <a class="link" href="detail">
                <figure class="product-img">
                    <img src="/img/zapatilla1.png" alt="">
                </figure>
                <h3>nike air force 1</h3>
                <p>$520</p>
                <a href="detail" class="comprar">comprar</a>
            </article>
    
        
            <article>
                <a class="link" href="detail">
                <figure class="product-img">
                    <img src="/img/zapatilla5.png" alt="">
                </figure>
                <h3>aNike lebron 18</h3>
                <p>$450</p>
                <a href="detail" class="comprar">comprar</a>
            </article>
    

            <article>
                <a class="link" href="detail">
                <figure class="product-img">
                    <img src="/img/zapatilla3.png" alt="">
                </figure>
                <h3>Nike LeBron 18</h3>
                <p>$930</p>
                <a href="detail" class="comprar">comprar</a>
            </article>
    

            <article>
                <a class="link" href="detail">
                <figure class="product-img">
                    <img src="/img/zapatilla4.png" alt="">
                </figure>
                <h3>Nike Air Max 97</h3>
                <p>$1580</p>
                <a href="detail" class="comprar">comprar</a>
            </article>
    
    </div>
</section>
    </main>


    <%- include('../partials/footer')  %> 

</body>
</html>
