*{
    box-sizing: border-box;
}

main{
    box-sizing: border-box;
    min-height: 70vh;
    padding: 1em 5%;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'montserrat';
    text-transform: uppercase;
    max-width: 100vw;
    width: 100%;
}

.form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--negro);
    color: white;
    width: 100%;
    max-width: 1000px;
    padding: 2.5em 5%;
    box-sizing: border-box;
}

.form-container h1{
    margin-top: 0;
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width:700px;
}

form label{
    font-size: 1.25em;
    margin-bottom: .8em;
    font-weight: 500;
}

input, textarea{
    outline: none;
    border: none;
    padding-left: .25em;
    font-weight: 500;
    text-transform: uppercase;
}

    
input[type=text]{
    height: 2em;
    margin-bottom: 2.5em;
}

select{
    margin-bottom: 2.5em;
}

textarea{
    height: 7em;
    margin-bottom: 2.5em;
    padding: .5em;
}

input[type=file]{
    height: 2em;
    margin-bottom: 2.5em;
    font-weight: 400;
    padding: .20em 0;
}

#categoria{
    margin-bottom: 1em;
    width: 100%;
    padding: 0;
}

legend{
    font-size: 1.25em;
    margin-bottom: .75em;
    font-weight: 500;
}

select{
    width: 100%;
    height: 2em;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}

fieldset label{
    font-size: 14px;
}

#colores{
    margin-bottom: 3em;
    display: flex;
    padding: 0;
    max-width: 800px;
    flex-wrap: wrap;

}

.categoria{

    padding: 0;
}

.categoria label{
    font-weight: 300;
}

form button{
    border-radius: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .75em;
    font-size: 1.25em;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--dorado);
    transition: all .3s ease;
}

.delete{
    background-color: rgb(209, 76, 76);
    color: white;
    margin-top: 30px;
}

.delete:hover{
    background-color: rgb(221, 55, 55);
}

form button:hover{
    background-color: var(--dorado-oscuro);
}


.imgEdit {
    width: 100%;
    height: 100%;
}

.contImg {
    border: solid 2px var(--dorado);
    background-color: rgb(36, 36, 36);
    cursor: pointer;
    margin: 1em auto;
    margin-bottom: 3.5em;
    width: 50%;
    padding: 1em;
    min-width: 300px;
}


@media (max-width:678px) {
    .form-container h1{
        font-size: 1.75em;
    }

    form label{
        font-size: 1em;
    }

    legend{
        font-size: 1em;
    }

    .categoria label{
        font-weight: 300;
        font-size: .75em;
    }

    #categoria{
        align-items: center;
    }

    .categoria{
        width: 100px;
    }

    form button{
        font-size: 20px;
    }

    .contImg{
        width: 90%;
        min-width: 0;
        max-width: 400px;
    }

    
   
}


