main{
    padding: 2.5vh 5vw;
    display: flex;
    justify-content: center;
}

.producto-completo{
    max-width: 1300px;
}

.lado-izquierdo{
    display: flex;
    justify-content: center;
}

.productselect {
    text-align: center;
    width: 90%;
}

.imgprincipal {
    padding: 1em;
    border: solid 3px #e4e4e479;
    max-width: 500px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    cursor: pointer;
    transition: all .3s ease;
}

img{
    transition: all .3s ease;
}

.imgprincipal:hover img{
    transform: scale(1.01);
}

.imgprincipal:hover{
    transform: scale(1.005);
}

.modelo-principal h2{
    text-align: center;
    margin-bottom: .25em;
    font-size: 1.75em;
    font-family: 'Montserrat';
    font-weight: 800;
    text-transform: uppercase;

}

.marca-principal h3{
    padding: 0.5em 0.25em ;  
    padding-top: 1em;
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--dorado);
    text-transform: uppercase;
}

.precio p {
    padding: 0.5em 2em ;  
    padding-top: 0em;
    display: flex;
    justify-content: center;
    font-size: .9em;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #A0A0A0;
}

.color {
    padding: 0.5em 0.25em ;  
    padding-top: 1em;
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0;
}

.container p{
    font-family: 'roboto';
    font-size: 15px;
    margin: 5px auto 0;
    text-align: center;
}

.titulo-informacion h3{
    padding: 0.5em 0.25em ;  
    padding-top: 1em;
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 20px;
}

.informacion {
    text-align: center;
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'roboto';
    font-weight: normal;
    font-size: 13px;
    max-width: 80vw;
    margin-bottom: 1.5em;
    margin-top: .35em;    
    line-height: 1.5em;
}


.informacion ul {
    list-style-type: disc;
    margin-left: 5vw;
    padding-top: 20px;
}

.products{
    margin-top: 2em;
}

.informacion ul li{
    margin-bottom: .5em;
}

.botones-de-compra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn1 {
    font-family: roboto;
    width: 225px;
    height: 50px;
    margin-top: 20px;
    background-color: #1A1A1A;
    border-radius: 0;
    box-shadow: 2px 2px 7px;
    color: white;   
    font-weight: 700; 

    border: none;
    cursor: pointer;
}

.btn2 {
    font-family: roboto;
    width: 225px;
    height: 50px;
    margin-top: 20px;
    background-color: white;
    border: solid 3px var(--dorado);  
    color: #1A1A1A;   
    font-weight: 700; 
    margin-bottom: 70px;
    cursor: pointer;
}

.option {
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: .5em;
    text-transform: uppercase;
    font-size: .75em;
}

.boton-estilo {
    display:flex;
    flex-direction: column;
    
}


.lista-opciones {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: .8em;
    margin-top: .35em;
}

.botones-de-compra {
    text-align: center;
}

.similar-products{
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1800px;
}

.similar-products article{
    width: auto;
}

@media (min-width: 1024px) {

.producto-completo {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 90vw;
    }
.lado-izquierdo {
    max-width: 50%;
    margin-left:5%;
    margin-top: 0;
}
.lado-derecho {
    max-width: 50%;
    text-align: left;
    margin-left: 5%;
}
.marca-principal h3{  
    padding-top: 0em;   
    justify-content: left;
    padding: 0.5em 0.0em ;  
    font-size: 1.25em;  
}

.imgprincipal{
    max-height: 500px;

}

.modelo-principal h2{
    text-align: left;
    font-size: 2.5em;
    margin-bottom: .25em;
}
.precio p {
    padding: 0.2em 0em ;  
    padding-top: 0.2em;   
    justify-content: left;
    font-size: 1em;
}

.color {
    padding: 0.5em 0em ;  
    justify-content: left;
    margin-top: 10px;
    font-size: 1.25em;
    margin-bottom: .25em;
}

.container p{
    text-align: left;
}

.lista-opciones {
    justify-content: space-between;  
}


.titulo-informacion h3{
    padding: 0.3em 0em ;  
    justify-content: left; 
    font-size: 1.25em;

}
.informacion {
    margin-left: 0; 
    max-width: 500px;
    margin-bottom: 1.5em;
}

.informacion ul {
    margin-left: 2vw;
}


.botones-de-compra{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    margin-top: 1.5em;
}

.btn1 {
    width: 220px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    margin-right: 1em;
    margin-top: 0;
}

.btn:hover{
    background: rgb(73, 73, 73);
}

.btn2 {
    width: 220px;
    height: 50px;
    cursor: pointer;
    transition: all .3s ease;
    margin: 0;
}

.btn:hover{
    border: var(--dorado-oscuro);
}

.botones-de-compra {
    text-align: left;   
}

#tittle-productdetail {
    margin-top: 60px;
}
}
