<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 

<body>
    
    <%- include('./partials/header') %> 

    <main>
        <section class="hero">
            <a class="carrusel-link" href="detail">
                <div class="carrusel">
                    <h1>Lo ultimo en <br>Air force 1</h1>
                    <a href="product/detail" class="cta">comprar ya</a>
                </div>
            </a>
        </section>
        <section class="products">
            <div class="title">
                <h2>Productos destacados</h2>
            </div>
            <div class="products-top-row">

                <article>
                        <a class="link" href="product/detail">
                        <figure class="product-img">
                            <img src="/img/zapatilla1.png" alt="">
                        </figure>
                        <h3>nike air force 1</h3>
                        <p>$520</p>
                        <a href="product/detail" class="comprar">comprar</a>
                    </article>
            
                
                    <article>
                        <a class="link" href="product/detail">
                        <figure class="product-img">
                            <img src="/img/zapatilla2.png" alt="">
                        </figure>
                        <h3>adidas Originals 11</h3>
                        <p>$450</p>
                        <a href="product/detail" class="comprar">comprar</a>
                    </article>
            

                    <article>
                        <a class="link" href="product/detail">
                        <figure class="product-img">
                            <img src="/img/zapatilla3.png" alt="">
                        </figure>
                        <h3>Nike LeBron 18</h3>
                        <p>$930</p>
                        <a href="product/detail" class="comprar">comprar</a>
                    </article>
            

                    <article>
                        <a class="link" href="product/detail">
                        <figure class="product-img">
                            <img src="/img/zapatilla4.png" alt="">
                        </figure>
                        <h3>Nike Air Max 97</h3>
                        <p>$1580</p>
                        <a href="product/detail" class="comprar">comprar</a>
                    </article>
            
            </div>

            <div class="products-bottom-row">
                <article>
                        <a class="link" href="product/detail">
                        <figure class="product-img">
                            <img src="/img/zapatilla5.png" alt="">
                        </figure>
                        <h3>adidas Performance</h3>
                        <p>$320</p>
                        <a href="product/detail" class="comprar">comprar</a>
                    </article>
                

                    <article>
                        <a class="link" href="product/detail">
                        <figure class="product-img">
                            <img src="/img/zapatilla6.png" alt="">
                        </figure>
                        <h3>adidas Ultra Boost 20</h3>
                        <p>$720</p>
                        <a href="product/detail" class="comprar">comprar</a>
                    </article>
                

                    <article>
                        <a class="link" href="product/detail">
                        <figure id="imagen-rota" class="product-img">
                            <img src="/img/zapatilla7.png" alt="">
                        </figure>
                        <h3>Nike Air Max 97 essential</h3>
                        <p>$580</p>
                        <a href="product/detail" class="comprar">comprar</a>
                    </article>
                

                    <article>
                        <a class="link" href="product/detail">
                        <figure class="product-img">
                            <img src="/img/zapatilla8.png" alt="">
                        </figure>
                        <h3>Nike Air More Uptempo</h3>
                        <p>$960</p>
                        <a href="product/detail" class="comprar">comprar</a>
                    </article>
                

            </div>
        </section>

        <section class="banners">
            <div class="top-row-banner">
                <div class="top-left-banner">
                    <a href="">
                        <h3>50% en productos nike</h3>
                    </a>
                </div>
                <div class="top-right-banner">
                    <a href="">
                        <h3>sneakers jordan</h3>
                    </a>
                </div>
            </div>
            <div class="bottom-row-banner">
                <div class="bottom-left-banner">
                    <a href="">
                        <h3>lo nuevo en air force</h3>
                    </a>
                </div>
                <div class="bottom-right-banner">
                    <a href="">
                        <h3>2 x 1 en zapatillas de running</h3>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <%- include('./partials/footer')  %> 

</body>
</html>