<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <title>Nike Air Force 1 | CALZA2</title>
</head>
<body>
    <header>
        <nav class="desktop-nav">
            <div class="logo">
                <a href="/"><img src="/img/logo.svg" alt="logo"></a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Productos</a></li>
                <li><a href="/">Contacto</a></li>
                <li><a href="/">Acerca de</a></li>
            </ul>
            <div class="right-content">
                <div class="icons">
                    <i class="fas fa-search"></i>
                    <a href="/product-cart"><i class="fas fa-shopping-cart"></i></a>
                    <a href="/login"><i class="fas fa-user"></i></a>
                </div>
                <a href="/login" class="login-button">Iniciar sesión / registrarse</a>
            </div>
        </nav>
        <nav class="mobile-nav">
            <div class="navigation-icon">
                <i class="fas fa-bars"></i>
            </div>
            <figure class="logo">
                <a href="/"><img src="/img/logo.svg" alt="logo"></a>
            </figure>
            <div class="icons">
                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-search"></i>
            </div>
        </nav>
    </header>

    
    <main>
        <div class="producto-completo">       
        <div class="lado-izquierdo">
            <figure class="imgprincipal">
                <img src="/img/zapatilla1.png" alt="principal" class="productselect">
            </figure>
        </div>
        <div class="lado-derecho">
            <div class="marca-principal">
            <h3>NIKE</h3>
            </div>
            <div class="modelo-principal">
            <h2>AIR LOREM</h2>
            </div>
            <div class="precio">
                <p>$844</p>
            </div>

            <div class="container">
	
                <h3 class="color">COLOR</h3>
          
            <ul class="lista-opciones">
                <li class="boton-estilo">
                    <label class="option">Blancas</label> 
                    <input type="radio" id="selector" name="selector">                             
                </li>
          
                <li class="boton-estilo"> 
                    <label class="option">Rojas</label>
                    <input type="radio" id="selector" name="selector">                                
                </li>
          
                <li class="boton-estilo">
                    <label class="option">Negras</label>  
                    <input type="radio" id="selector" name="selector">                        
                </li>
                <li class="boton-estilo">
                    <label class="option">Camufladas</label>
                    <input type="radio" id="selector" name="selector">                                          
                </li>
            </ul>
            </div>

            <div class="titulo-informacion">
                <h3>INFORMACION</h3>
            </div>
            <div class="informacion">
                <p>Nike Free Run Trail gets retro'd in similar fashion to the early 2000s silhouette. The sneaker features a suede, sock-like free run upper which gets placed on a rugged outsole, made to withstand all conditions. 
                </p>
                <ul>
                    <li>Suede upper</li>
                    <li>Rugged free run outsole</li>
                    <li>Sock-like fit </li>
                </ul>
            </div>
            <div class="botones-de-compra">
                <button type="button" class="btn1">AGREGAR AL CARRITO</button>
                <button type="button" class="btn2">COMPRAR YA</button>     
            </div>
        </div>
        </div>   
    
    <section class="products">
        <div class="title" id="tittle-productdetail">
            <h2>Productos Similares</h2>
        </div>
        <div class="products-top-row">
            <article>
                <figure class="product-img">
                    <img src="/img/zapatilla1.png" alt="">
                </figure>
                <h3>nike air force 1</h3>
                <p>$520</p>
                <a href="" class="comprar">comprar</a>
            </article>
            <article>
                <figure class="product-img">
                    <img src="/img/zapatilla2.png" alt="">
                </figure>
                <h3>adidas Originals 11</h3>
                <p>$450</p>
                <a href="" class="comprar">comprar</a>

            </article>
            <article>
                <figure class="product-img">
                    <img src="/img/zapatilla3.png" alt="">
                </figure>
                <h3>Nike LeBron 18</h3>
                <p>$930</p>
                <a href="" class="comprar">comprar</a>

            </article>
            <article>
                <figure class="product-img">
                    <img src="/img/zapatilla4.png" alt="">
                </figure>
                <h3>Nike Air Max 97</h3>
                <p>$1580</p>
                <a href="" class="comprar">comprar</a>

            </article>
        </div>
    </section>
    </main>

    <footer>
        <div class="desktop-footer">
            <div class="left-footer">
                <nav class="footer-navs">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">Productos</a></li>
                        <li><a href="/">Contacto</a></li>
                        <li><a href="/">Acerca de</a></li>
                    </ul>
                    <ul class="nav">
                        <li><a href="/">Zapatillas para hombre</a></li>
                        <li><a href="/">Zapatillas para mujer</a></li>
                        <li><a href="/">Zapatillas para niño</a></li>
                        <li><a href="/">Ofertas</a></li>
                    </ul>  
                    <ul class="nav">
                        <li><a href="/">Zapatillas para hombre</a></li>
                        <li><a href="/">Zapatillas para mujer</a></li>
                        <li><a href="/">Zapatillas para niño</a></li>
                        <li><a href="/">Ofertas</a></li>
                    </ul>  
                </nav>
                <p>Copyright © 2021 CALZA2</p>
            </div>
            <div class="right-footer">
                <form action="">
                    <h3>Suscribase a nuestro newsletter</h3>
                    <input type="text" name="email" placeholder="Escriba su email">
                    <button type="submit">Enviar</button>
                </form> 
            </div>
        </div>
        <div class="mobile-footer">
            <nav class="footer-navs">
                <ul class="left-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Productos</a></li>
                    <li><a href="/">Contacto</a></li>
                    <li><a href="/">Acerca de</a></li>
                </ul>
                <ul class="right-nav">
                    <li><a href="/">Zapatillas para hombre</a></li>
                    <li><a href="/">Zapatillas para mujer</a></li>
                    <li><a href="/">Zapatillas para niño</a></li>
                    <li><a href="/">Ofertas</a></li>
                </ul>  
            </nav>   
            <form action="">
                <h3>Suscribase a nuestro newsletter</h3>
                <input type="text" name="email" placeholder="Escriba su email">
                <button type="submit">Enviar</button>
            </form> 
            <div class="bottom-footer">
                <div class="bottom-footer-links">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                </div>
                <p>Copyright © 2021 CALZA2</p>
            </div>
        </div>
        
    </footer>
</body>
</html>

