<header>
  <nav class="desktop-nav">
    <div class="logo">
      <a href="/"><img src="/img/logo.svg" alt="logo" /></a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Productos</a></li>
      <li><a href="/">Ofertas</a></li>
      <li><a href="/">Contacto</a></li>
    </ul>
    <div class="right-content">
      <div class="icons">
        <i class="fas fa-search"></i>
        <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/users/profile"><i class="fas fa-user"></i></a>
      </div>
      <% if (locals.user) { %>
        <a href="/users/logout" class="login-button">Cerrar sesión</a>
        <% } else { %>
        <a href="/users/login" class="login-button">Iniciar sesión / registrarse</a>
      <% } %> 
    </div>
  </nav>
  <nav class="mobile-nav">
    <div class="navigation-icon">
      <i class="fas fa-bars"></i>
    </div>
    <figure class="logo">
      <a href="/"><img src="/img/logo.svg" alt="logo" /></a>
    </figure>
    <div class="icons">
      <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </nav>
</header>
